# Directories to ignore
old/
Pic/*
preprocessed/
results/
shares/
graph_outputs/
Data/
Training data/
lightning_logs/
checkpoints/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE/Editor metadata
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log